@font-face {
    font-family: Inter;
    src: url('../font/Inter-Black.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('../font/Inter-Bold.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('../font/Inter-Medium.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('../font/Inter-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}